@use "../../styles/utils.scss";

.Container {
  width: 100%;
  height: 100dvh;
  padding-top: var(--navbar-height);

  .Heading {
    font-size: 2rem;
    font-weight: bold;
    margin-bottom: 16px;
    text-align: center;
    padding: 2rem;
  }

  .MangaList {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    width: 90%;
    margin: 0 auto;
    gap: 1rem;

    .NotFound {
      text-align: center;
      font-size: 1.5rem;
      color: gray;
      margin-top: 2rem;
    }

    .Item {
      border: 0.125rem solid #eee;
      border-radius: 0.5rem;
      overflow: hidden;
      width: 30%;

      @include utils.viewport(3) {
        width: 100%;
      }

      img {
        width: 100%;
        height: 40rem;
        object-fit: cover;
      }

      .TextInfo {
        padding: 1rem;
        display: flex;
        flex-direction: column;
        gap: 0.5rem;

        .Title {
          font-size: 2rem;
          font-weight: bold;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }

        .Controls {
          display: flex;
          align-items: center;
          gap: 1rem;

          .Chapter {
            font-size: 1.5rem;
            color: black;
          }

          .ViewButton {
            background: none;
            border: none;
            cursor: pointer;
            padding: 0.25rem 1rem;
            border-radius: 0.5rem;
            transition: background-color 0.3s;
            background-color: #fcb53b;

            .ViewButtonIcon {
              width: 2rem;
              height: 2rem;
              color: black;
            }
          }
        }
      }
    }
  }
}
