@use "../../styles/colores.scss";

.Container {
  width: 10rem;
  height: 5rem;
  border-radius: 0.25rem;
  overflow: hidden;
  position: relative;

  .Upper {
    width: 100%;
    height: 50%;
    background-color: var(--color-primary);
  }
  .Lower {
    width: 100%;
    height: 50%;
    background-color: var(--color-primary);
  }
  .Text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 3rem;
    color: white;
    z-index: 1;
  }
}
