@use "../../styles/utils.scss";
@use "../../styles/colores.scss";

:root {
  --navbar-height: 70px;
}

.Navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 4rem;
  padding: 2rem 4rem;
  width: 100%;
  height: var(--navbar-height);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: var(--color-secondary);

  @include utils.viewport(2) {
    padding: 2rem;
  }

  .SearchBox {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 0.125rem solid var(--color-primary);
    padding: 0.5rem 1rem;
    border-radius: 0.25rem;
    width: 30rem;

    input {
      border: none;
      outline: none;
      font-size: 1.2rem;
      color: white;
      width: 100%;
    }

    .SearchButton {
      background: none;
      border: none;
      cursor: pointer;
      display: flex;
      align-items: center;
      justify-content: center;

      .SearchButtonIcon {
        font-size: 1rem;
        color: white;
      }
    }
  }

  .MobileIcon {
    display: none;

    @include utils.viewport(2) {
      display: block;
      font-size: 2.5rem;
      color: white;
      cursor: pointer;
    }
  }

  .NavItems {
    display: flex;
    align-items: center;
    gap: 2rem;

    @include utils.viewport(2) {
      display: none;
    }

    .NavItem {
      margin: 0 0.25rem;
      color: white;
      font-size: 1.7rem;
      font-weight: bold;
      cursor: pointer;
      padding: 0.5rem 1rem;
      background-color: transparent;
      border-radius: 0.25rem;
      transition: background-color 0.3s ease;

      &:hover {
        color: var(--color-accent);
      }

      &.Active {
        background-color: var(--color-primary);
        color: white;
      }
    }
  }

  .MobileMenu {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100dvh;
    background-color: var(--color-primary);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    z-index: 9999;
    gap: 3rem;

    .MobileNavItem {
      font-size: 3rem;
      color: black;
      font-weight: bold;
    }
  }
}
