@use "../../styles/utils.scss";
@use "../../styles/colores.scss";

.Container {
  width: 100%;
  height: 100dvh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 3rem;

  .Heading {
    font-size: 5rem;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;

    @include utils.viewport(3) {
      font-size: 3rem;
    }
  }

  input {
    width: 40%;
    padding: 0.5rem 1rem;
    font-family: Montserrat;
    border-radius: 0.5rem;
    font-size: 1.5rem;
    @include utils.viewport(3) {
      width: 80%;
    }
  }

  .Button {
    font-size: 2rem;
    text-transform: uppercase;
    background-color: var(--color-primary);
    border: 0.35rem solid var(--color-secondary);
    border-radius: 0.75rem;
    color: white;
    letter-spacing: 0.25rem;
    width: 15rem;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}
